@import "tailwindcss.min.css";

/*
 * Import fonts
 */
@font-face {
    font-family: 'Bungee';
    src: url('../fonts/Bungee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Degular';
    src: url('../fonts/Degular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Degular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
    color: #0B0B0B;
}

.bungee-font {
    font-family: 'Bungee', sans-serif;
}

.degular-font {
    font-family: 'Degular', sans-serif;
}


/*
 * Import colors
 */

.bg-black-main {
    background-color: #0B0B0B;
}

.text-black-main {
    color: #0B0B0B;
}

.border-black-main {
    border-color: #0B0B0B;
}

.black-shadow-box {
    box-shadow: 4px 4px 0px 0px #0B0B0B;
}

.bg-white-main {
    background-color: #EFEFEF;
}

.text-white-main {
    color: #EFEFEF;
}

.bg-gray-main {
    background-color: #d2d2d2;
}

.text-gray-main {
    color: #d2d2d2;
}

.bg-blue-main {
    background-color: #4E80EF;
}

.text-blue-main {
    color: #4E80EF;
}

.bg-blue-secondary {
    background-color: #4676EE;
}

.text-blue-secondary {
    color: #4676EE;
}


/*
 * Flash message fade out and disappear
 */
.fade-out {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}


/*
 * Make the sections of the page a full screen height (considering the navbar)
 */
.section {
    min-height: calc(100vh - 72px);
}