{% extends 'base.html.twig' %}

{% block page_title %}Connexion{% endblock %}

{% block page_content %}
    <div class="section flex justify-center items-center">
        <div class="w-80 rounded-2xl p-6 border-4 border-black-main black-shadow-box">
            <form action="" method="post" class="flex flex-col justify-center items-center space-y-6">
                <h1 class="text-4xl font-bold pt-3">Connexion</h1>
                <div>
                    <label for="email" class="block mb-1 text-md">Email</label>
                    <input type="email" name="email" id="email"
                           class="w-full border-2 border-black-main p-2 rounded-lg">
                </div>
                <div>
                    <label for="password" class="block mb-1 text-md">Mot de passe</label>
                    <input type="password" name="password" id="password"
                           class="w-full border-2 border-black-main p-2 rounded-lg">
                </div>
                <div class="pt-3">
                    <input type="submit" value="Se connecter"
                           class="hover:bg-gray-300 font-bold p-2 px-4 rounded-xl transition-all duration-200
                           border-2 border-black-main black-shadow-box">
                </div>
                <div>
                    <a href="{{ path("register") }}" class="text-blue-main hover:underline">Pas encore inscrit ?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}