{% extends 'base.html.twig' %}

{% block page_title %}Home{% endblock %}

{% block page_content %}
    <p class="bungee-font uppercase font-bold text-9xl">
        BUNGEE
    </p>
    <p class="degular-font uppercase font-bold text-9xl">
        DEGULAR
    </p>
{% endblock %}