{% extends 'base.html.twig' %}

{% block page_title %}
    ERREUR 404
{% endblock %}

{% block page_content %}
    <div class="section flex flex-col justify-center items-center space-y-8">
        <h1 class="text-6xl text-center bungee-font select-none">Page non trouvée</h1>
        <p class="text-4xl text-center">La page que vous cherchez n'existe pas !</p>
    </div>
{% endblock %}