{% extends 'base.html.twig' %}

{% block page_title %}
    ERREUR
{% endblock %}

{% block page_content %}
    <div class="section flex flex-col justify-center items-center space-y-8">
        <h1 class="text-6xl text-center bungee-font select-none">Une erreur est survenue</h1>
        <p class="text-4xl text-center">Veuillez réessayer plus tard</p>
    </div>
{% endblock %}