{% extends 'base.html.twig' %}

{% block page_title %}
    ERREUR 403
{% endblock %}

{% block page_content %}
    <div class="section flex flex-col justify-center items-center space-y-8">
        <h1 class="text-6xl text-center bungee-font select-none">Accès refusé</h1>
        <p class="text-4xl text-center">Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
    </div>
{% endblock %}