{% extends 'base.html.twig' %}

{% block page_title %}Changer le mot de passe{% endblock %}

{% block page_content %}
    <div class="section flex justify-center items-center space-x-24">
        <div class="w-80 rounded-2xl p-6 border-4 border-black-main black-shadow-box">
            <form action="{{ path("edit_password") }}"
                  method="post"
                  name="edit_password"
                  class="flex flex-col justify-center items-center space-y-6">
                <h1 class="text-4xl font-bold text-center pt-3">Changer le mot de passe</h1>

                <div>
                    <label for="edit_password_oldPassword"
                           class="block mb-1 text-md">Ancien mot de passe
                        <span class="text-red-500">*</span>
                    </label>
                    <input type="password"
                           name="edit_password[oldPassword]"
                           id="edit_password_oldPassword"
                           minlength="8"
                           maxlength="30"
                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,30}$"
                           class="w-full border-2 border-black-main black-shadow-box p-2 rounded-lg" required>
                </div>

                <div>
                    <label for="edit_password_plainPassword"
                           class="block mb-1 text-md">Nouveau mot de passe
                        <span class="text-red-500">*</span>
                    </label>
                    <input type="password"
                           name="edit_password[plainPassword]"
                           id="edit_password_plainPassword"
                           minlength="8"
                           maxlength="30"
                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,30}$"
                           class="w-full border-2 border-black-main black-shadow-box p-2 rounded-lg" required>
                </div>

                <div class="pt-3">
                    <input type="submit"
                           value="Changer"
                           id="edit_password_register"
                           name="edit_password[register]"
                           class="hover:bg-gray-300 font-bold p-2 px-4 rounded-xl transition-all duration-200
                            border-2 border-black-main black-shadow-box">
                </div>

                {{ form_row(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}